/* Banner section start */
@media (max-width: 900px) {
  .banner-container {
    grid-template-columns: 1fr;
   
  }
  .banner-info {
    padding: 2rem;
  }
  .banner-info h1 {
    font-size: 2.4rem;
  }
  .banner-info p {
    font-size: 1.2rem;
  }
}

/* banner section end */